<div class="form-horizontal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <h2>The Promised Land (in Angular)</h2>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <h4> A Promise in Short:is the future result of an operation or a placeholder for a successful result or an error</h4>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <ul>
                    <li>
                        Powerfull for chaining promises via .then()

                    </li>
                    <li> The ability to handle multiple asynchronous calls sequentially</li>
                    <li>
                        Especially useful when one operation depends on information from anothet operation
                        (eg: a rest call depending on information from another rest call)
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <h4>$q</h4>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <div class="alert alert-success ng-scope">
                    <ul>
                        <li>
                            Light Weight implementation of Q

                        </li>
                        <li> $http,$routeProvider and $timeout all uses Promises</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <h4>$q.all()</h4>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <div class="alert alert-success ng-scope">
                    <ul>
                        <li>Handling multiple Promises (Parallel)</li>
                        <li> $q.all resolves when all promises have been successfully resolved</li>
                        <li> $q.all rejects as soon as one promise has been rejected,returning error message</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    
        
    </div>
</div>