<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <table border="1" class="mytable">
                <tr>
                    <td>S.No </td>
                    <td>Topic</td>
                </tr>
                <tr>
                    <td> Part 1: </td>
                    <td> Understanding Modules and architecture(Refer app.js )</td>
                </tr>
                <tr>
                    <td> Part 2: </td>
                    <td> <a  ui-sref="app.databinding" href="">Data Binding</a></td>
                </tr>
                <tr>
                    <td>Part 3:</td>
                    <td>Single page applications and Angular routing(Refer app.js)</td>
                </tr>
                <tr>
                    <td>Part 4:</td>
                    <td><a ui-sref="app.events" href="">Eventing in AngularJS</a></td>
                </tr>
                <tr>
                    <td>Part 5:</td>
                    <td><a ui-sref="app.myvalidations" href="">Validations</a></td>
                </tr>

                <tr>
                    <td>Part 6:</td>
                    <td>
                        Understanding and implementing Filters<br />
                        <a ui-sref="app.store" href="">Refer the Store</a>
                    </td>
                </tr>
                <tr>
                    <td>Part 7:</td>
                    <td> <a ui-sref="app.products" href="">Promises and $http Request using WEB Api(Refer getProducts method in ProductsController)</a> </td>
                </tr>
                <tr>
                    <td>Part 8:</td>
                    <td>Dependecy Injection in AngularJS</td>
                </tr>

                <tr>
                    <td>Part 9:</td>
                    <td>
                        <a ui-sref="app.inventory" href="">Creating Custom AngularJS Directives</a><br />
                    </td>
                </tr>

                <tr>
                    <td>Part 10:</td>
                    <td>
                        <a ui-sref="app.questiontemplate" href="">Questions Template</a><br />
                        (Dynamically creating controls based on JSON Data)
                    </td>
                </tr>
                <tr>
                    <td>Part 11:</td>
                    <td>
                        <a ui-sref="app.store" href="">Sample Angular Cart</a><br />
                    </td>
                </tr>
                <tr>
                    <td>UI Bootstrap</td>
                    <td>
                        <a ui-sref="app.store" href="">Pagination in Angular Cart</a><br />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>