<div class="row">
    <div class="col-sm-12">

      Total Products:{{productscount}}
    </div>
    <div class="col-sm-10">
        <div style="padding-top: 15px;">
            <table border="1" class="mytable">
                <tr>
                    <td>Product Name</td>
                    <td>Product Code</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Total Price</td>

                </tr>
                <tr ng-repeat="item in productsdata">
                    <td>
                        <span ng-hide="item.editMode">{{item.ProductName}}</span>
                        <input type="text" class="form-control" ng-show="item.editMode" ng-model="item.ProductName" />
                    </td>
                    <td>
                        <span ng-hide="item.editMode">{{item.ProductCode}}</span>
                        <input type="text" class="form-control" ng-show="item.editMode" ng-model="item.ProductCode" />
                    </td>
                    <td>
                        <span ng-hide="item.editMode">{{item.Price}}</span>
                        <input type="number" class="form-control" ng-show="item.editMode" ng-model="item.Price" />
                    </td>
                    <td>
                        <span ng-hide="item.editMode">{{item.Quantity}}</span>
                        <input type="number" class="form-control" ng-show="item.editMode" ng-model="item.Quantity" />
                    </td>
                    <td>{{(item.Quantity) * (item.Price)}}</td>

                </tr>

            </table>
        </div>
        <br />
        <div style="font-weight: bold">Grand Total: {{inventory.totalPrice()}}</div>
        <br />
    </div>
    <div class="col-sm-1">
    </div>
</div>